In [5]:
# Import Dependencies
import pandas as pd

In [23]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data

data_frames1 = pd.DataFrame([{"Frame":"ornate", "Price":15.0, "Sales":100},
               {"Frame":"Classical", "Price":12.5, "Sales":200},
               {"Frame":"Modern", "Price":10, "Sales":150},
               {"Frame":"Wood", "Price":5.0, "Sales":300},
               {"Frame":"Cardboard", "Price":1.0}])



data_frames1

data_frames2 = pd.DataFrame({"Frame":["Ornate","Classical","Modern","Wood","Cardboard"],
                "Price":[15.0,12.5,10,5.0,1.0],
                "Sales": [100,200,150,300,"NAN"]})
data_frames2

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   NAN

In [24]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data

In [8]:
data_frame3 = {
                 "Painting":["C","M","W","CB"],
                 "Price":[12.5,10,5,41],
                 "Popularity":[100,200,300,400]
}
data_frame4 = pd.DataFrame(data_frame3)
data_frame4

  Painting  Price  Popularity
0        C   12.5         100
1        M   10.0         200
2        W    5.0         300
3       CB   41.0         400